@model ReflectionIT.Mvc.Paging.PagingList<ncframework.Models.Access>
@using ReflectionIT.Mvc.Paging
@addTagHelper *, ReflectionIT.Mvc.Paging

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h3>Index Access</h3>

<form role="search">
    <div class="form-group">

        <input type="text" class="form-control" placeholder="Search" name="filter" value="@Model.RouteValue["Filter"]">

    </div>
    <input type="submit" class="btn-link btn" value="Search">
    <a asp-action="Create" class="btn-link btn">Create</a>
</form>
<hr />
<nav aria-label="Page navigation">
    <vc:pager paging-list="@Model" />
</nav>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.SortableHeaderFor(model => model.Group, this.Model)
            </th>
            <th>
                @Html.SortableHeaderFor(model => model.Menu, this.Model)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Group.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Menu.Name)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
